<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
</head>
<body>
    <h1>Enter your information:</h1>
    <form method="post">
        <label for="host">Host:</label><br>
        <input type="text" id="host" name="host"><br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="database">Database:</label><br>
        <input type="text" id="database" name="database"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
