<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Table Name</title>
</head>
<body>
    <h1>Modify Table Name</h1>
    <form method="post">
        <label for="current_table_name">Current Table Name:</label><br>
        <select id="current_table_name" name="current_table_name">
            {% for table in available_tables %}
            <option value="{{ table }}">{{ table }}</option>
            {% endfor %}
        </select><br>
        <label for="new_table_name">New Table Name:</label><br>
        <input type="text" id="new_table_name" name="new_table_name"><br><br>
        <input type="submit" value="Change Table Name">
    </form>
</body>
</html>
